@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: "PP Neue Montreal", sans-serif;
  color: white;
  background: #0f172a;
}
:root {
  --mainColor: #e67e22;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    /* background: #0f172a; */
    background: #1d001f;
  }
}

.container {
  width: 100%;
  /* max-width: 1300px; */
  margin: 0 auto;
  /* padding: 0 20px; */
}

.gallery-item {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
}

.gallery-item img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  object-fit: cover;
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-auto-rows: 100px;
  grid-auto-flow: dense;
  grid-gap: 16px;
  padding: 16px;
}
.lg-react-element {
  column-count: 6;
  /* column-gap: 10px; */
}
.lg-container.lg-show {
  display: none !important;
}

.lg-react-element img {
  max-width: 100%;
  display: block;
  padding: 5px 0px;
  border-radius: 20px;
  transition: transform 0.2s;
  &:hover {
    filter: opacity(0.9);
    transform: scale(1.01);
    /* opacity: 1; */
    .middle {
      opacity: 1;
    }
  }
}
.lg-thumb-toggle-hover-color {
}
@media (max-width: 1150px) and (min-width: 600px) {
  .gallery-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
    gap: 10px;
  }
  .lg-react-element {
    column-count: 4;
    column-gap: 10px;
  }
}
/* Media queries can be added to adjust the grid layout at different screen sizes */
@media (max-width: 600px) and (min-width: 425px) {
  .gallery-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
    gap: 10px;
  }
  .lg-react-element {
    column-count: 3;
    column-gap: 10px;
  }
}

@media (max-width: 425px) {
  .gallery-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
    gap: 10px;
  }
  .lg-react-element {
    column-count: 2;
    column-gap: 10px;
  }
}
